body {
  background-color: #1f1f1f;
  color: white;
  font-family: sans-serif;
}

/* Styling for the header/banner */


nav{
  height: 45px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

nav ul li a:hover {
  background-color: #c8590a;
}


@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.intro-wrapper{
  display: flex;
  justify-content: space-around;
  justify-items: baseline;
  align-content: space-between;
  background-color: #292929;
  align-items: center;
  height: 700px;
}

.left-intro{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    font-size: 2rem;
}

.right-intro img{
  height: 400px;
  width: 400px;
}

span {
    font-size: 2em;
    color: #c8590a;
}

.left-intro > h1 {
  animation: slide-in 3s ease-in-out forwards;
}

button{
    background-color: #c8590a;
    width: 100px;
}

.about-me-wrapper{
  display: flex;
  justify-content: space-around;
  justify-items: center;
  margin: 0px;
}

.left-about-me img{
  height: 300px;
  width: 300px;
}

.right-about-me{
  height: 300;
  width: 50%;
}

.services-wrapper{
  display: flex;

}

.services-wrapper img{
  height: 200px;
  width: 200px;
}