<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles.css')}}"/>
    <title>Contact Me</title>
  </head>
  <body>

    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/">About</a></li>
          <li><a href="https://www.linkedin.com/in/mikaljohnson24?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BHrId4LA6R3StxXmu961OvA%3D%3D">Projects</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <h1>Contact Me</h1>
    <form method="POST" action="/contact">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="James Bond" required />
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Jamesbond@outloo.com" required />
      </div>
      <div>
        <label for="message">Message:</label>
        <textarea id="message" name="message" placeholder="I would like you to come work for us" ></textarea>
      </div>
      <button type="submit">Send</button>
    </form>
  </body>
</html>
